<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\NetPandektisOutput\FTPTool.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <conversionPattern value="%date [%thread] %-5level %logger %method [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %method [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="directorydb" connectionString="Server=collectionssql\collectionsdev;Database=Pandekths_Directory;Trusted_Connection=False;User ID=epandekthslogin; Password=epandekthslogin"/>
  </connectionStrings>
  <appSettings>
    <add key="FTPDownloadRegEX" value="(?i)^R[0-9]{2,2}\w+\.zip$"/>
    <add key="DatePartRegEx" value="20[0-3]{1}[0-9]{1}[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}"/>
    <add key="FTPServer" value="websftp.eurobank.gr"/>
    <add key="FTPPort" value="22"/>
    <add key="WindowSize" value="6"/>
    <add key="SshHostKeyFingerprint" value="ssh-rsa 1536 55:4c:13:47:66:ec:0e:eb:a6:14:14:2f:be:6e:17:38"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
