<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blogica.Common.DB" version="1.0.0.128" targetFramework="net471" />
  <package id="Blogica.Common.DB.Dapper" version="1.0.0.128" targetFramework="net471" />
  <package id="Blogica.Common.Hash" version="1.0.0.128" targetFramework="net471" />
  <package id="Blogica.Common.Logging.Types" version="1.0.0.128" targetFramework="net471" />
  <package id="Blogica.Directory.ConnectionStringManager" version="1.0.0.107" targetFramework="net471" />
  <package id="Blogica.Directory.Models" version="1.0.0.107" targetFramework="net471" />
  <package id="Dapper" version="2.0.35" targetFramework="net471" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net471" />
</packages>